In [1]:
personi = {
    "emri":"Blerta",
    "mbiemri":"Hoxha",
    "email":"blerta.hoxha@gmail.com"
}

In [2]:
personat = {
    "emri": ["Blerta"],
    "mbiemri": ["Hoxha"],
    "email": ["blerta.hoxha@gmail.com"]
}

In [162]:
personat = {
    "emri": ["Blerta", "Agon", "Bernard", "Arbnor", "Blerta","Adnan","Adnan"],
    "mbiemri": ["Hoxha", "Salihu", "Kastrati", "Hetemi", "Ahmeti","Lupqi","Mehmeti"],
    "email": ["blerta.hoxha@gmail.com", "agon.salihu@gmail.com", "bernard.kastrati@gmail.com", "arbnor.hetemi@gmail.com","blerta.ahmeti@gmail.com","adnan.lupqi@gmail.com","adnan.mehmeti@gmail.com"]
}

In [155]:
personat['email']

['blerta.hoxha@gmail.com',
 'agon.salihu@gmail.com',
 'bernard.kastrati@gmail.com',
 'arbnor.hetemi@gmail.com',
 'blerta.ahmeti@gmail.com',
 ' ',
 'adnan.mehmeti@gmail.com']

In [156]:
import pandas as pd

In [163]:
df=pd.DataFrame(personat)

In [164]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi       adnan.lupqi@gmail.com
6    Adnan   Mehmeti     adnan.mehmeti@gmail.com

In [36]:
df['email']

0        blerta.hoxha@gmail.com
1         agon.salihu@gmail.com
2    bernard.kastrati@gmail.com
3       arbnor.hetemi@gmail.com
Name: email, dtype: object

In [37]:
df.set_index('email')

                               emri   mbiemri
email
blerta.hoxha@gmail.com       Blerta     Hoxha
agon.salihu@gmail.com          Agon    Salihu
bernard.kastrati@gmail.com  Bernard  Kastrati
arbnor.hetemi@gmail.com      Arbnor    Hetemi

In [38]:
df.set_index('emri')

          mbiemri                       email
emri
Blerta      Hoxha      blerta.hoxha@gmail.com
Agon       Salihu       agon.salihu@gmail.com
Bernard  Kastrati  bernard.kastrati@gmail.com
Arbnor     Hetemi     arbnor.hetemi@gmail.com

In [39]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com

In [40]:
df.set_index('email', inplace=True)

In [41]:
df

                               emri   mbiemri
email
blerta.hoxha@gmail.com       Blerta     Hoxha
agon.salihu@gmail.com          Agon    Salihu
bernard.kastrati@gmail.com  Bernard  Kastrati
arbnor.hetemi@gmail.com      Arbnor    Hetemi

In [42]:
df.index

Index(['blerta.hoxha@gmail.com', 'agon.salihu@gmail.com',
       'bernard.kastrati@gmail.com', 'arbnor.hetemi@gmail.com'],
      dtype='object', name='email')

In [43]:
df.loc['bernard.kastrati@gmail.com']

emri        Bernard
mbiemri    Kastrati
Name: bernard.kastrati@gmail.com, dtype: object

In [44]:
df.loc['bernard.kastrati@gmail.com','mbiemri']

'Kastrati'

In [45]:
df.loc['bernard.kastrati@gmail.com','emri']

'Bernard'

In [46]:
df.iloc[0]

emri       Blerta
mbiemri     Hoxha
Name: blerta.hoxha@gmail.com, dtype: object

In [47]:
df.iloc[3]

emri       Arbnor
mbiemri    Hetemi
Name: arbnor.hetemi@gmail.com, dtype: object

In [50]:
df.reset_index(inplace=True)

In [60]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com

In [59]:
df['emri'] == 'Blerta'

0     True
1    False
2    False
3    False
4     True
Name: emri, dtype: bool

In [61]:
filt=(df['emri'] == 'Blerta')

In [62]:
filt

0     True
1    False
2    False
3    False
4     True
Name: emri, dtype: bool

In [63]:
df[filt]

     emri mbiemri                    email
0  Blerta   Hoxha   blerta.hoxha@gmail.com
4  Blerta  Ahmeti  blerta.ahmeti@gmail.com

In [64]:
df.loc[filt, 'email']

0     blerta.hoxha@gmail.com
4    blerta.ahmeti@gmail.com
Name: email, dtype: object

In [65]:
filt=(df['emri'] == 'Blerta')|(df['emri'] == 'Agon')

In [66]:
filt

0     True
1     True
2    False
3    False
4     True
Name: emri, dtype: bool

In [67]:
df[filt]

     emri mbiemri                    email
0  Blerta   Hoxha   blerta.hoxha@gmail.com
1    Agon  Salihu    agon.salihu@gmail.com
4  Blerta  Ahmeti  blerta.ahmeti@gmail.com

In [69]:
df.loc[filt, 'email']

0     blerta.hoxha@gmail.com
1      agon.salihu@gmail.com
4    blerta.ahmeti@gmail.com
Name: email, dtype: object

In [78]:
df.loc[~filt,['emri','email'] ]

      emri                       email
2  Bernard  bernard.kastrati@gmail.com
3   Arbnor     arbnor.hetemi@gmail.com

In [79]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com

In [80]:
df.columns

Index(['emri', 'mbiemri', 'email'], dtype='object')

In [82]:
df.columns=['emri_pare','mbiemri_pare', 'email']

In [83]:
df

  emri_pare mbiemri_pare                       email
0    Blerta        Hoxha      blerta.hoxha@gmail.com
1      Agon       Salihu       agon.salihu@gmail.com
2   Bernard     Kastrati  bernard.kastrati@gmail.com
3    Arbnor       Hetemi     arbnor.hetemi@gmail.com
4    Blerta       Ahmeti     blerta.ahmeti@gmail.com

In [84]:
df.columns=[x.upper() for x in df.columns]

In [85]:
df

  EMRI_PARE MBIEMRI_PARE                       EMAIL
0    Blerta        Hoxha      blerta.hoxha@gmail.com
1      Agon       Salihu       agon.salihu@gmail.com
2   Bernard     Kastrati  bernard.kastrati@gmail.com
3    Arbnor       Hetemi     arbnor.hetemi@gmail.com
4    Blerta       Ahmeti     blerta.ahmeti@gmail.com

In [86]:
df.columns=[x.lower() for x in df.columns]

In [87]:
df

  emri_pare mbiemri_pare                       email
0    Blerta        Hoxha      blerta.hoxha@gmail.com
1      Agon       Salihu       agon.salihu@gmail.com
2   Bernard     Kastrati  bernard.kastrati@gmail.com
3    Arbnor       Hetemi     arbnor.hetemi@gmail.com
4    Blerta       Ahmeti     blerta.ahmeti@gmail.com

In [96]:
df.columns=df.columns.str.replace('','')

In [97]:
df

  *e*m*r*i***p*a*r*e* *m*b*i*e*m*r*i***p*a*r*e*                 *e*m*a*i*l*
0              Blerta                     Hoxha      blerta.hoxha@gmail.com
1                Agon                    Salihu       agon.salihu@gmail.com
2             Bernard                  Kastrati  bernard.kastrati@gmail.com
3              Arbnor                    Hetemi     arbnor.hetemi@gmail.com
4              Blerta                    Ahmeti     blerta.ahmeti@gmail.com

In [98]:
df.columns=['emri_pare','mbiemri_pare', 'email']

In [99]:
df

  emri_pare mbiemri_pare                       email
0    Blerta        Hoxha      blerta.hoxha@gmail.com
1      Agon       Salihu       agon.salihu@gmail.com
2   Bernard     Kastrati  bernard.kastrati@gmail.com
3    Arbnor       Hetemi     arbnor.hetemi@gmail.com
4    Blerta       Ahmeti     blerta.ahmeti@gmail.com

In [100]:
df.rename(columns={'emri_pare':'emri','mbiemri_pare':'mbiemri'},inplace=True)

In [101]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com

In [102]:
df.loc[2] = ['Bernard','Kastrati','bernard.kastrati@gmail.com']

In [103]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com

In [104]:
df.loc[2,['emri','mbiemri','email']]=['Adnan','Lupqi','adnan.lupqi@gmail.com']

In [110]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi       adnan.lupqi@gmail.com
6    Adnan   Mehmeti     adnan.mehmeti@gmail.com

In [113]:
df.loc[6,['mbiemri','email']]=['Lupqi','adnan.lupqi@gmail.com']

In [114]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi       adnan.lupqi@gmail.com
6    Adnan     Lupqi       adnan.lupqi@gmail.com

In [115]:
df.loc[1,'mbiemri'] = "Shala"

In [116]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon     Shala       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi       adnan.lupqi@gmail.com
6    Adnan     Lupqi       adnan.lupqi@gmail.com

In [121]:
df.loc['email']='adnan.lupqi@gmail.com'

In [122]:
df

,emri,mbiemri,email
0,Blerta,Hoxha,blerta.hoxha@gmail.com
1,Agon,Shala,agon.salihu@gmail.com
2,Bernard,Kastrati,bernard.kastrati@gmail.com
3,Arbnor,Hetemi,arbnor.hetemi@gmail.com
4,Blerta,Ahmeti,blerta.ahmeti@gmail.com
5,Adnan,Lupqi,adnan.lupqi@gmail.com
6,Adnan,Lupqi,adnan.lupqi@gmail.com
email,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com

In [124]:
filt=(df['email']=='adnan.lupqi@gmail.com')

In [126]:
df[filt]

                        emri                mbiemri                  email
5                      Adnan                  Lupqi  adnan.lupqi@gmail.com
6                      Adnan                  Lupqi  adnan.lupqi@gmail.com
email  adnan.lupqi@gmail.com  adnan.lupqi@gmail.com  adnan.lupqi@gmail.com

In [128]:
filt=(df['email']=='adnan.lupqi@gmail.com')

In [129]:
df[filt]['mbiemri']

5                        Lupqi
6                        Lupqi
email    adnan.lupqi@gmail.com
Name: mbiemri, dtype: object

In [130]:
filt=(df['email']=='blerta.ahmeti@gmail.com')

In [131]:
df[filt]['mbiemri']

4    Ahmeti
Name: mbiemri, dtype: object

In [132]:
filt=(df['email']=='agon.salihu@gmail.com')

In [133]:
df.loc[filt,'mbiemri'] = 'Salihu'

In [134]:
df

,emri,mbiemri,email
0,Blerta,Hoxha,blerta.hoxha@gmail.com
1,Agon,Salihu,agon.salihu@gmail.com
2,Bernard,Kastrati,bernard.kastrati@gmail.com
3,Arbnor,Hetemi,arbnor.hetemi@gmail.com
4,Blerta,Ahmeti,blerta.ahmeti@gmail.com
5,Adnan,Lupqi,adnan.lupqi@gmail.com
6,Adnan,Lupqi,adnan.lupqi@gmail.com
email,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com

In [135]:
df['email']=df['email'].str.lower()

In [136]:
df

,emri,mbiemri,email
0,Blerta,Hoxha,blerta.hoxha@gmail.com
1,Agon,Salihu,agon.salihu@gmail.com
2,Bernard,Kastrati,bernard.kastrati@gmail.com
3,Arbnor,Hetemi,arbnor.hetemi@gmail.com
4,Blerta,Ahmeti,blerta.ahmeti@gmail.com
5,Adnan,Lupqi,adnan.lupqi@gmail.com
6,Adnan,Lupqi,adnan.lupqi@gmail.com
email,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com

In [137]:
df['email']=df['email'].str.upper()

In [138]:
df

,emri,mbiemri,email
0,Blerta,Hoxha,BLERTA.HOXHA@GMAIL.COM
1,Agon,Salihu,AGON.SALIHU@GMAIL.COM
2,Bernard,Kastrati,BERNARD.KASTRATI@GMAIL.COM
3,Arbnor,Hetemi,ARBNOR.HETEMI@GMAIL.COM
4,Blerta,Ahmeti,BLERTA.AHMETI@GMAIL.COM
5,Adnan,Lupqi,ADNAN.LUPQI@GMAIL.COM
6,Adnan,Lupqi,ADNAN.LUPQI@GMAIL.COM
email,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com,ADNAN.LUPQI@GMAIL.COM

In [139]:
df['email']=df['email'].str.lower()

In [141]:
df

,emri,mbiemri,email
0,Blerta,Hoxha,blerta.hoxha@gmail.com
1,Agon,Salihu,agon.salihu@gmail.com
2,Bernard,Kastrati,bernard.kastrati@gmail.com
3,Arbnor,Hetemi,arbnor.hetemi@gmail.com
4,Blerta,Ahmeti,blerta.ahmeti@gmail.com
5,Adnan,Lupqi,adnan.lupqi@gmail.com
6,Adnan,Lupqi,adnan.lupqi@gmail.com
email,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com

In [142]:
df['email'].apply(len)

0        22
1        21
2        26
3        23
4        23
5        21
6        21
email    21
Name: email, dtype: int64

In [143]:
def update_email(email):
    return email.upper()

In [144]:
df['email'].apply(update_email)

0            BLERTA.HOXHA@GMAIL.COM
1             AGON.SALIHU@GMAIL.COM
2        BERNARD.KASTRATI@GMAIL.COM
3           ARBNOR.HETEMI@GMAIL.COM
4           BLERTA.AHMETI@GMAIL.COM
5             ADNAN.LUPQI@GMAIL.COM
6             ADNAN.LUPQI@GMAIL.COM
email         ADNAN.LUPQI@GMAIL.COM
Name: email, dtype: object

In [145]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [146]:
df

,emri,mbiemri,email
0,Blerta,Hoxha,blerta.hoxha@gmail.com
1,Agon,Salihu,agon.salihu@gmail.com
2,Bernard,Kastrati,bernard.kastrati@gmail.com
3,Arbnor,Hetemi,arbnor.hetemi@gmail.com
4,Blerta,Ahmeti,blerta.ahmeti@gmail.com
5,Adnan,Lupqi,adnan.lupqi@gmail.com
6,Adnan,Lupqi,adnan.lupqi@gmail.com
email,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com,adnan.lupqi@gmail.com

In [149]:
df['email'].apply(len)

0        22
1        21
2        26
3        23
4        23
5        21
6        21
email    21
Name: email, dtype: int64

In [150]:
df.apply(len, axis='columns')

0        3
1        3
2        3
3        3
4        3
5        3
6        3
email    3
dtype: int64

In [159]:
len(df['email'])

7

In [160]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi
6    Adnan   Mehmeti     adnan.mehmeti@gmail.com

In [165]:
df.apply(pd.Series.min)

emri                       Adnan
mbiemri                   Ahmeti
email      adnan.lupqi@gmail.com
dtype: object

In [167]:
df.apply(lambda x: x.min())

emri                       Adnan
mbiemri                   Ahmeti
email      adnan.lupqi@gmail.com
dtype: object

In [168]:
df.applymap(len)

   emri  mbiemri  email
0     6        5     22
1     4        6     21
2     7        8     26
3     6        6     23
4     6        6     23
5     5        5     21
6     5        7     23

In [169]:
df.applymap(str.upper)

      emri   mbiemri                       email
0   BLERTA     HOXHA      BLERTA.HOXHA@GMAIL.COM
1     AGON    SALIHU       AGON.SALIHU@GMAIL.COM
2  BERNARD  KASTRATI  BERNARD.KASTRATI@GMAIL.COM
3   ARBNOR    HETEMI     ARBNOR.HETEMI@GMAIL.COM
4   BLERTA    AHMETI     BLERTA.AHMETI@GMAIL.COM
5    ADNAN     LUPQI       ADNAN.LUPQI@GMAIL.COM
6    ADNAN   MEHMETI     ADNAN.MEHMETI@GMAIL.COM

In [170]:
df['emri'].map({'BLERTA':'BETIM','BERNARD':'ARDIT'})

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: emri, dtype: object

In [171]:
df.applymap(str.lower)

      emri   mbiemri                       email
0   blerta     hoxha      blerta.hoxha@gmail.com
1     agon    salihu       agon.salihu@gmail.com
2  bernard  kastrati  bernard.kastrati@gmail.com
3   arbnor    hetemi     arbnor.hetemi@gmail.com
4   blerta    ahmeti     blerta.ahmeti@gmail.com
5    adnan     lupqi       adnan.lupqi@gmail.com
6    adnan   mehmeti     adnan.mehmeti@gmail.com

In [175]:
df['emri'].map({'Blerta': 'Betim','Bernard': 'Ardit'})

0    Betim
1      NaN
2    Ardit
3      NaN
4    Betim
5      NaN
6      NaN
Name: emri, dtype: object

In [173]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi       adnan.lupqi@gmail.com
6    Adnan   Mehmeti     adnan.mehmeti@gmail.com

In [176]:
df['emri'] = df['emri'].replace({'Betim': 'Blerta','Ardit': 'Bernard'})

In [177]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com
4   Blerta    Ahmeti     blerta.ahmeti@gmail.com
5    Adnan     Lupqi       adnan.lupqi@gmail.com
6    Adnan   Mehmeti     adnan.mehmeti@gmail.com