In [4]:
personi = {
    "emri":"Blerta",
    "mbiemri":"Hoxha",
    "email":"blerta.hoxha@gmail.com"
}

In [5]:
personat = {
    "emri": ["Blerta"],
    "mbiemri": ["Hoxha"],
    "email": ["blerta.hoxha@gmail.com"]
}

In [6]:
personat = {
    "emri": ["Blerta", "Agon", "Bernard", "Arbnor"],
    "mbiemri": ["Hoxha", "Salihu", "Kastrati", "Hetemi"],
    "email": ["blerta.hoxha@gmail.com", "agon.salihu@gmail.com", "bernard.kastrati@gmail.com", "arbnor.hetemi@gmail.com"]
}

In [4]:
personat['email']

['blerta.hoxha@gmail.com',
 'agon.salihu@gmail.com',
 'bernard.kastrati@gmail.com',
 'arbnor.hetemi@gmail.com']

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(personat)

In [7]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com

In [8]:
df['email']

0        blerta.hoxha@gmail.com
1         agon.salihu@gmail.com
2    bernard.kastrati@gmail.com
3       arbnor.hetemi@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

In [10]:
df.email

0        blerta.hoxha@gmail.com
1         agon.salihu@gmail.com
2    bernard.kastrati@gmail.com
3       arbnor.hetemi@gmail.com
Name: email, dtype: object

In [13]:
df[['emri','email']]

      emri                       email
0   Blerta      blerta.hoxha@gmail.com
1     Agon       agon.salihu@gmail.com
2  Bernard  bernard.kastrati@gmail.com
3   Arbnor     arbnor.hetemi@gmail.com

In [14]:
df.columns

Index(['emri', 'mbiemri', 'email'], dtype='object')

In [15]:
df.loc[0]

emri                       Blerta
mbiemri                     Hoxha
email      blerta.hoxha@gmail.com
Name: 0, dtype: object

In [16]:
df.iloc[[0,1]]

     emri mbiemri                   email
0  Blerta   Hoxha  blerta.hoxha@gmail.com
1    Agon  Salihu   agon.salihu@gmail.com

In [17]:
df.iloc[[0,1],2]

0    blerta.hoxha@gmail.com
1     agon.salihu@gmail.com
Name: email, dtype: object

In [18]:
df.iloc[[0,1],1]

0     Hoxha
1    Salihu
Name: mbiemri, dtype: object

In [19]:
df.loc[[0,1]]

     emri mbiemri                   email
0  Blerta   Hoxha  blerta.hoxha@gmail.com
1    Agon  Salihu   agon.salihu@gmail.com

In [20]:
df.loc[[0,1],'email']

0    blerta.hoxha@gmail.com
1     agon.salihu@gmail.com
Name: email, dtype: object

In [26]:
df.loc[[0,1],['mbiemri','emri']]

  mbiemri    emri
0   Hoxha  Blerta
1  Salihu    Agon

In [2]:
import pandas as pd

In [7]:
df = pd.DataFrame(personat)

In [8]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com

In [9]:
df['email']

0        blerta.hoxha@gmail.com
1         agon.salihu@gmail.com
2    bernard.kastrati@gmail.com
3       arbnor.hetemi@gmail.com
Name: email, dtype: object

In [10]:
df.set_index('email')

                               emri   mbiemri
email
blerta.hoxha@gmail.com       Blerta     Hoxha
agon.salihu@gmail.com          Agon    Salihu
bernard.kastrati@gmail.com  Bernard  Kastrati
arbnor.hetemi@gmail.com      Arbnor    Hetemi

In [11]:
df

      emri   mbiemri                       email
0   Blerta     Hoxha      blerta.hoxha@gmail.com
1     Agon    Salihu       agon.salihu@gmail.com
2  Bernard  Kastrati  bernard.kastrati@gmail.com
3   Arbnor    Hetemi     arbnor.hetemi@gmail.com

In [12]:
df.set_index('email', inplace=True)

In [13]:
df

                               emri   mbiemri
email
blerta.hoxha@gmail.com       Blerta     Hoxha
agon.salihu@gmail.com          Agon    Salihu
bernard.kastrati@gmail.com  Bernard  Kastrati
arbnor.hetemi@gmail.com      Arbnor    Hetemi

In [14]:
df.index

Index(['blerta.hoxha@gmail.com', 'agon.salihu@gmail.com',
       'bernard.kastrati@gmail.com', 'arbnor.hetemi@gmail.com'],
      dtype='object', name='email')

In [15]:
df.loc['agon.salihu@gmail.com']

emri         Agon
mbiemri    Salihu
Name: agon.salihu@gmail.com, dtype: object

In [16]:
df.loc['agon.salihu@gmail.com','mbiemri']

'Salihu'

In [17]:
df.iloc[0]

emri       Blerta
mbiemri     Hoxha
Name: blerta.hoxha@gmail.com, dtype: object

In [18]:
df.reset_index(inplace=True)

In [19]:
df

                        email     emri   mbiemri
0      blerta.hoxha@gmail.com   Blerta     Hoxha
1       agon.salihu@gmail.com     Agon    Salihu
2  bernard.kastrati@gmail.com  Bernard  Kastrati
3     arbnor.hetemi@gmail.com   Arbnor    Hetemi

In [20]:
df['mbiemri'] == 'Hoxha'

0     True
1    False
2    False
3    False
Name: mbiemri, dtype: bool

In [21]:
filt = (df['mbiemri'] == 'Hoxha')

In [22]:
filt

0     True
1    False
2    False
3    False
Name: mbiemri, dtype: bool

In [23]:
df[filt]

                    email    emri mbiemri
0  blerta.hoxha@gmail.com  Blerta   Hoxha

In [24]:
df.loc[filt]

                    email    emri mbiemri
0  blerta.hoxha@gmail.com  Blerta   Hoxha

In [26]:
df.loc[filt, 'email']

0    blerta.hoxha@gmail.com
Name: email, dtype: object

In [32]:
filt = (df['mbiemri'] == 'Hoxha') | (df['mbiemri'] == 'Salihu')

In [33]:
df.loc[filt, 'email']

0    blerta.hoxha@gmail.com
1     agon.salihu@gmail.com
Name: email, dtype: object

In [34]:
df.loc[~filt, 'email']

2    bernard.kastrati@gmail.com
3       arbnor.hetemi@gmail.com
Name: email, dtype: object